.nav {
  text-align: center;
  font-size: 15px;
  background-color: #FFA500;
}
.headingtwo {
  font-family: 'SFUITextRegular';
  font-size: 30px;
  text-align: center;
  font-style: normal;
  font-weight: normal;
}
body {
  background-color: #E1C699;
}
#par {
  text-align: center;

}
